extends layout

block content

	h1 #{title}: #{owner.name}

	if owner_homes.length

		p #[strong Delete the followig homes before attempting to delete this owner.]
		div(style='margin-left:20px;margin-top:20px')
			h4 Homes
			dl
				each home in owner_homes
					dt
						a(href=home.url) #{home.address}
						dd #{home.description}
	else
		p Do you really want to delete this owner?

		form(method='POST')
			div.form-group
				input#ownerid.form-control(type='hidden', name='ownerid', value=owner._id)
			button.btn.btn-primary(type='submit') Delete
